<% form_for [@car_brand,@car_type] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, 'Nombre' %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Guardar" %> <%= link_to "Cancelar", car_brand_car_types_path(@car_brand) %></p>
<% end %>
