<% form_for @service do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :file, 'Expediente' %><br />
    <%= f.text_field :file %>
  </p>
	<p>
    Marca<br />
    <%= select :car_brand, :id, [['Selecciona',0]] + CarBrand.all.collect {|o| [o.name, o.id]} %>
  </p>
	<p>
		<%= f.label :car_type_id, 'Tipo' %><br />
		<%= f.select :car_type_id, [['Primero Selecciona la Marca',0]] %>
	</p>
  <p>
    <%= f.label :user_id, 'Usuario' %><br />
    <%= f.select :user_id, [['Selecciona',0]] + User.no_admin.collect {|o| [o.name, o.id]} %>
  </p>
  <p>
    <%= f.label :car_model %><br />
    <%= f.text_field :car_model %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.label :board %><br />
    <%= f.text_field :board %>
  </p>
  <p>
    <%= f.label :location_city_id %><br />
    <%= f.text_field :location_city_id %>
  </p>
  <p>
    <%= f.label :references %><br />
    <%= f.text_area :references %>
  </p>
  <p>
    <%= f.label :destination_city_id %><br />
    <%= f.text_field :destination_city_id %>
  </p>
  <p>
    <%= f.label :insured %><br />
    <%= f.check_box :insured %>
  </p>
  <p>
    <%= f.label :service_type_id %><br />
    <%= f.text_field :service_type_id %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :operator_id %><br />
    <%= f.text_field :operator_id %>
  </p>
  <p>
    <%= f.label :crane %><br />
    <%= f.text_field :crane %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
