<% form_for @service do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :file, 'Expediente' %><br />
    <%= f.text_field :file %>
  </p>
	<p>
    Marca<br />
    <% if @service.id.nil? %>
			<%= select_tag :car_brand, options_for_select(['Selecciona',0] + CarBrand.all.collect {|o| [o.name, o.id]}) %>
		<% else %>
			<%= select_tag :car_brand, options_for_select(['Selecciona',0] + CarBrand.all.collect {|o| [o.name, o.id]}, @service.car_type.car_brand.id) %>
		<% end %>
  </p>
	<p>
		<%= f.label :car_type_id, 'Tipo' %><br />
		<% if @service.id.nil? %>
			<%= f.select :car_type_id, [['Primero Selecciona la Marca',0]] %>
		<% else %>
			<%= f.select :car_type_id, [['Primero Selecciona la Marca',0]] + CarType.find(:all, :conditions => {:car_brand_id => @service.car_type.car_brand.id}).collect {|o| [o.name, o.id]} %>
		<% end %>
	</p>
  <p>
    <%= f.label :user_id, 'Usuario' %><br />
    <%= f.select :user_id, [['Selecciona',0]] + User.no_admin.collect {|o| [o.name, o.id]} %>
  </p>
  <p>
    <%= f.label :car_model, 'Modelo' %><br />
    <%= f.text_field :car_model %>
  </p>
  <p>
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </p>
  <p>
    <%= f.label :board, 'Placas' %><br />
    <%= f.text_field :board %>
  </p>
  <p>
    <%= f.label :location_city_id, 'Ubicaci&oacute;n' %><br />
    <%= f.text_field :location_city_id %>
  </p>
  <p>
    <%= f.label :references, 'Referencias' %><br />
    <%= f.text_area :references, :cols => 50, :rows => 5 %>
  </p>
  <p>
    <%= f.label :destination_city_id, 'Destino' %><br />
    <%= f.text_field :destination_city_id %>
  </p>
  <p>
    <%= f.label :insured, 'Asegurado' %><br />
    <%= f.text_field :insured %>
  </p>
  <p>
    <%= f.label :service_type_id, 'Servicio' %><br />
    <%= f.select :service_type_id, [['Selecciona',0]] + ServiceType.all.collect {|o| [o.name, o.id]} %>
  </p>
  <p>
    <%= f.label :price, 'Precio' %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :operator_id, 'Operador' %><br />
    <%= f.select :operator_id, [['Selecciona',0]] + Operator.all.collect {|o| [o.name, o.id]} %>
  </p>
  <p>
    <%= f.label :crane_id, 'Grua' %><br />
    <%= f.select :crane_id, [['Selecciona',0]] + Crane.all.collect {|o| [o.name, o.id]} %>
  </p>
	<p>
    <%= f.label :contact_date, 'Fecha de Contacto' %><br />
    <%= f.text_field :contact_date, :class => 'date' %>
  </p>
	<p>
    <%= f.label :end_date, 'Fin del Servicio' %><br />
    <%= f.text_field :end_date, :class => 'date' %>
  </p>
  <p><%= f.submit "Guardar" %> <%= link_to "Cancelar", services_path %></p>
<% end %>
<script type="text/javascript" charset="utf-8">
	$("#car_brand_id").change(function() {
		$("#service_car_type_id").load('/car_types/like_options', {car_brand_id: $("#car_brand_id option:selected").attr('value'), authenticity_token: '<%= form_authenticity_token %>'});
	});
</script>