<% title "Services" %>

<table>
  <tr>
    <th>Grua</th>
    <th>Operador</th>
		<th>Asistencia</th>
    <th>Exp.</th>
    <th>Marca</th>
    <th>Tipo</th>
    <th>Modelo</th>
    <th>Color</th>
    <th>Estatus</th>
    <th>F. Alta</th>
    <th>F. Cont</th>
    <th>F. Fin</th>
    <th>Acciones</th>
  </tr>
  <% for service in @services %>
    <tr>
    	<td><%=h service.crane %></td>
      <td><%=h service.operator_id %></td>
      <td><%=h service.user.name %></td>
			<td><%=h service.file %></td>
      <td><%=h service.car_type.car_brand.name %></td>
      <td><%=h service.car_type.name %></td>
      <td><%=h service.car_model %></td>
      <td><%=h service.color %></td>
      <td><%=h service.status %></td>
      <td><%=h service.created_at %></td>
      <td><%=h service.id %></td>
      <td><%=h service.id %></td>
      <td><%=h service.service_type_id %></td>
      <td><%= link_to "Show", service %></td>
      <td><%= link_to "Edit", edit_service_path(service) %></td>
      <td><%= link_to "Destroy", service, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuevo Expediente", new_service_path %></p>
