<% title "Services" %>

<table id="services">
  <tr>
    <th>Grua</th>
    <th>Operador</th>
		<th>Asistencia</th>
    <th>Exp.</th>
    <th>Marca</th>
    <th>Tipo</th>
    <th>Modelo</th>
    <th>Color</th>
    <th>Estatus</th>
    <th>F. Alta</th>
    <th>F. Cont</th>
    <th>F. Fin</th>
    <th>Acciones</th>
  </tr>
  <% for service in @services %>
    <tr>
    	<td><%=h service.crane.name %></td>
      <td><%=h service.operator.name %></td>
      <td><%=h service.user.name %></td>
			<td><%=h service.file %></td>
      <td><%=h service.car_type.car_brand.name %></td>
      <td><%=h service.car_type.name %></td>
      <td><%=h service.car_model %></td>
      <td><%=h service.color %></td>
      <td><%=h service.status %></td>
      <td><%=h service.created_at.to_date %></td>
      <td><%=h service.contact_date.to_date %></td>
      <td><%=h service.end_date.to_date %></td>
      <td>
				<%= link_to "Ver", service %>
				<%= link_to "Editar", edit_service_path(service) %>
				<%= link_to "Eliminar", service, :confirm => 'Estas seguro?', :method => :delete %>
			</td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuevo Expediente", new_service_path %></p>
