<div id="show">
	<fieldset>
		<legend>Datos del Servicio</legend>
		<div class="left">
		    <strong>Grua</strong><br />
		    <%= @service.crane.name %>
		</div>
		<div class="left">
		    <strong>Operador</strong><br />
		    <%= @service.operator.name %>
		</div>
		<div class="left">
		    <strong>Solicito</strong><br />
		    <%= @service.applicant %>
		</div>
		<div class="left">
		    <strong>Asistencia</strong><br />
		    <%= @service.user.name %>
		</div>
		<div class="left">
		    <strong>Expediente</strong><br />
		    <%= @service.file %>
		</div>
		<div class="left">
		    <strong>Servicio</strong><br />
		    <%= @service.service_type.name %>
		</div>
		<div class="left">
			<strong>Precio</strong><br />
			<%= @service.price %>
	  </div>
		<div class="clear"></div>
		<div class="left">
	    <strong>Fecha de Inicio</strong><br />
	    <%= (@service.start_date or !@service.start_date.blank?) ? @service.start_date.to_date : 'Si Definir' %>
	  </div>
		<div class="left">
	    <strong>Fecha de Contacto</strong><br />
	    <%= (@service.contact_date or !@service.contact_date.blank?) ? @service.contact_date.to_date : 'Si Definir' %>
	  </div>
		<div class="left">
	    <strong>Fin del Servicio</strong><br />
	    <%= (@service.end_date or !@service.end_date.blank?) ? @service.end_date.to_date : 'Si Definir' %>
	  </div>
	</fieldset>
	<fieldset>
		<legend>Datos del Veh&iacute;culo</legend>
		<div class="left">
			<strong>Marca</strong><br />
	    <%= @service.car_type.car_brand.name %>
		</div>
		<div class="left">
			<strong>Tipo</strong><br />
			<%= @service.car_type.name %>
		</div>
		<div class="left">
			<strong>Modelo</strong><br />
	    <%= @service.car_model %>
		</div>
		<div class="left">
			<strong>color</strong><br />
	    <%= @service.color %>
		</div>
		<div class="left">
	    <strong>Placas</strong><br />
	    <%= @service.board %>
	  </div>
		<div class="left">
	    <strong>Asegurado</strong><br />
	    <%= @service.insured %>
	  </div>
		<div class="left">
	    <strong>Tel&eacute;fono de contacto con el Cliente Final</strong><br />
	    <%= @service.contact_phone %>
	  </div>
		<div class="clear"></div>
	</fieldset>
	<fieldset class="left" style="width: 200px">
		<legend>Ubicaci&oacute;n</legend>
		<p>
			<strong>Estado</strong><br />
	    <%= @service.location_state.name %>
		</p>
		<p>
			<strong>Municipio</strong><br />
	    <%= @service.location_county_name %>
		</p>
		<p>
			<strong>Colonia</strong><br />
	    <%= @service.location_neighbourhood_name %>
		</p>
	</fieldset>
	<fieldset class="left" style="width: 200px">
		<legend>Destino</legend>
		<p>
			<strong>Estado</strong><br />
	    <%= @service.destination_state.name %>
		</p>
		<p>
			<strong>Municipio</strong><br />
	    <%= @service.destination_county_name %>
		</p>
		<p>
			<strong>Colonia</strong><br />
	    <%= @service.destination_neighbourhood_name %>
		</p>
	</fieldset>
	<div class="clear"></div>
	<fieldset>
    <legend>Observaciones</legend>
    <%= @service.references %>
  </fieldset>
	<p>
		<%= link_to 'Regresar', services_path, :class => 'button' %>
	</p>
</div>