<% form_for @service_type do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, 'Nombre' %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit "Guardar" %> <%= link_to "Cancelar", service_types_path %></p>
<% end %>
