<% title "Clientes" %>
<h1>Clientes</h1>

<%= link_to 'Nuevo Cliente', new_user_path() %>
<div id="users">
	<div class="name title">Nombre</div>
	<div class="email title">E-Mail</div>
	<div class="actions title" style="text-align: center">Acciones</div>
	<div class="clear"></div>
	<% @users.each do |user| %>
	<div class="user">
		<div class="name field"><%= link_to user.name, user_path(user) %></div>
		<div class="email field"><%= link_to user.email, user_path(user) %></div>
		<div class="actions field" style="text-align: center"><%= link_to image_tag('edit_icon.png', :border => 0, :title => 'Editar'), edit_user_path(user) %> <%= link_to image_tag('delete_icon.png', :border => 0, :title => 'Eliminar'), user_path(user), :method => :delete, :confirm => '¿Estas seguro de eliminar a este usuario?' %></div>
		<div class="clear"></div>
	</div>
	<% end %>
</div>
<%= link_to 'Nuevo Cliente', new_user_path() %>