<% title "Operators" %>
<h1>Operadores</h1>

<table>
  <tr>
    <th class="ui-widget-header">Nombre</th>
  </tr>
  <% for operator in @operators %>
    <tr>
      <td><%=h operator.name %></td>
      <td><%= link_to "Editar", edit_operator_path(operator) %></td>
      <td><%= link_to "Eliminar", operator, :confirm => 'Estas seguro?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nuevo Operador", new_operator_path %> <%= link_to 'Regresar a la Administración', admin_path() %></p>
