<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
		<%= stylesheet_link_tag 'jquery-ui-redmond' %>
		<%= stylesheet_link_tag 'jquery.wysiwyg' %>
		<%= stylesheet_link_tag 'jquery.autocomplete' %>
    <%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'jquery-1.3.2.min' %>
		<%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
		<%= javascript_include_tag 'jquery.autocomplete' %>
		<%= javascript_include_tag 'jquery.wysiwyg' %>
		<%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrapper">
			<% if login_path? %>
			<%= image_tag('logo_login.jpg', :id => 'logo_login') %>
			<% else %>
	    <div id="header">
				<%= image_tag('logo.jpg') %>
			</div>
			<% end %>
			<% if admin? %>
			<div id="menu">
				<ul>
					<li><%= link_to 'Expedientes', services_path %></li>
					<li><%= link_to 'Administración', admin_path %></li>
					<li><%= link_to 'Reportes', root_path %></li>
					<li><%= link_to 'Salir', logout_path %></li>
					<div class="clear"></div>
				</ul>
			</div>
			<% end %>
			<div id="content">
				<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
				<% if request.env['HTTP_USER_AGENT'].downcase =~ /msie 6.0/ %>
				<div style="padding: 5px 8px; margin: 10px 0; background-color: #FCC; border: solid 1px #C66; color: #444;">
					<p>
						<strong>Error:</strong> Por el momento no contamos con soporte para el Navegador web "Internet Explorer 6".
					</p>
					<p>
						Disculpa las molestias que esto te ocasiona.
					</p>
				</div>
				<% else %>
				<%= yield %>
				<% end %>
			</div>
    </div>
  </body>
</html>
